:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  background-image: url("public/assets/iteration-1/home-banner.png");
  width: 100%;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
}

.header-section img {
  padding-top: 60px;
  height: 50%;
  width: 40%;
}

.header-section p {
  font-family: Satisfy;
  color: #FDC913;
  font-size: 42px;
}

.header-section h1 {
  font-family: Roboto Condensed;
  font-weight: 375;
  font-size: 80px;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.header-section .btn {
  background-color: rgb(255, 234, 0);
  color: black;
  border-radius: 50px;
  width: 10vw;
  font-size: 25px;
  border: none;
}

.header-section .btn:hover {
  background-color: black;
  color: #FDC913;
  border: none;
}

.menu-container {
  width: 100%;
  background-color: #2c2b2b;
}

.upper-navbar {
  background-color: #f9f9f9;
  font-family: Barlow;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  height: fit-content;
  padding: 15px;
  align-items: center;
  gap: 6.2rem;
  font-size: 18px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 6.5px;
}

.menu-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px;
  height: auto;
  background-color: #f9f9f9;
}

.menu-pizza-promoter {
  display: flex;
  background-image: url("public/assets/iteration-2/cta/kart-1.png");
  background-size: cover;
  background-position: center;
  width: 30%;
  max-height: 475.5px;
  border-radius: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-left: 30px;
  flex-direction: column;
  align-items: start;
}

.menu-pizza-promoter h2 {
  flex-wrap: wrap;
  font-family: Quattrocento;
  font-weight: 700;
  font-size: 70px;
  line-height: 72px;
  letter-spacing: 0%;
  vertical-align: middle;
  width: 300px;
  margin-bottom: 15px;
}

.menu-pizza-promoter p {
  font-family: Barlow;
  font-weight: 600;
  font-size: 20px;
  line-height: 26.76px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-top: 0px;
}

.menu-pizza-promoter .btn {
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  width: fit-content;
  background-color: #f9f9f9;
  border-radius: 25px;
  color: crimson;
}

.menu-burger-promoter {
  display: flex;
  background-image: url("public/assets/iteration-2/cta/kart-2.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 47%;
  width: 30vw;
  flex-direction: column;
  padding-bottom: 11px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.menu-burger-promoter h2 {
  display: flex;
  font-family: Barlow;
  font-weight: 600;
  font-size: 32px;
  width: 12vw;
  line-height: 44.27px;
  letter-spacing: 0%;
  vertical-align: middle;
  align-items: start;
  flex-wrap: wrap;
}

.menu-burger-promoter .btn {
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: center;
  width: fit-content;
  background-color: #f9f9f9;
  border-radius: 25px;
  color: crimson;
}

.menu-kurye-promoter {
  display: flex;
  align-items: start;
  background-image: url("public/assets/iteration-2/cta/kart-3.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 47;
  width: 30vw;
  flex-direction: column;
  padding-bottom: 11px;
  padding-top: 10px;
  padding-left: 20px;
}

.menu-kurye-promoter h2 {
  display: flex;
  color: black;
  font-family: Barlow;
  font-weight: 600;
  font-size: 32px;
  width: 16vw;
  line-height: 44.27px;
  letter-spacing: 0%;
  vertical-align: middle;
  align-items: start;
  flex-wrap: wrap;
}

.menu-kurye-promoter button {
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  width: fit-content;
  background-color: #f9f9f9;
  border-radius: 25px;
  color: crimson;
}

.most-ordered {
  display: flex;
  max-width: 1296;
  max-height: 110;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.most-ordered p {
  font-family: Satisfy;
  font-weight: 500;
  font-size: 32px;
  line-height: 44.27px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;  
  color: crimson;
}

.most-ordered h2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 42px;
  line-height: 56.2px;
  letter-spacing: 0%;
  color: black;
  text-align: center;
  vertical-align: middle;  
}

.food-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  background-color: #f9f9f9;
  gap: 20px;
}

.food-buttons button {
  display: flex;
  color: black;
  border: 1.7px solid crimson;
  border-radius: 50px;
  background-color: #f9f9f9;
  align-items: center;
}

.food-buttons button:hover {
  display: flex;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  background-color: black;
  align-items: center;
}

.food-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  background-color: #f9f9f9;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  width: 270px;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  padding-top: 0;
  font-size: 1.2rem;
}

.menu-card h3 {
  display: flex;
  width: 270px;
  color: black;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1.3rem;
}

.price {
  font-weight: bold;
}

footer {
  list-style-type: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
